.TagList{
  margin: 0 -7px -9px;
  .item{
    opacity: 0.8;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    margin-bottom: 9px;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 14px;
    font-weight: 400;
    color: $gray;
    & + a{
      opacity: 1;

    }
  }
}