/*inline style option class*/
.m0 {
  margin: 0 !important;
}

.bdt-transparent {
  border-top-color: transparent !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.txt-center {
  text-align: center !important;
}

.underline {
  text-decoration: underline;
}

.tilt {
  display: inline-block;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  margin-left: -2px;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
}

.btn-basic{
  opacity: 0.8;
  overflow-y: hidden;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  padding: 0 15px;
  background: $white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: rgba(255,255,255,.9);
  border-radius: 3px;
  border: 1px solid #888;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  color: $black;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  cursor: pointer;
  &:hover{
    opacity: 1;
    &.btn-type{
      -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
      -moz-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
      box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    }
  }
  & + .btn-basic{
    margin-left: 10px;
  }
  i{
    vertical-align: sub;
    font-size: 18px;
  }
  &.long{
    min-width: 150px;
  }
  &.like-active{
    background: pink;
    color: $white;
  }
  &.btn-type{
    margin: 0 10px;
    border: 1px solid #ccc;
    background: $white;
  }
}
